/*!***************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!../node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./components/Galerie.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************/
.Galerie_gallerie__7B0gI {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.Galerie_gallerie__7B0gI img {
    width: auto;
    height: 15rem;
    border: 1px solid #000;
    border-radius: 1rem;
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!../node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./components/Documents.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
.Documents_container__xkOjV{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
}
.Documents_container__xkOjV h1{
    margin-bottom: 1rem;
}
.Documents_container__xkOjV h2{
    margin-top: 1rem;
}

.Documents_container__xkOjV ul{
    margin-bottom: 3rem;
}
